services:
  api-blue:
    image: ghcr.io/lauresta/lkvitai-mes-warehouse-api:${BLUE_IMAGE_TAG:-v1.2.3}
    container_name: lkvitai-api-blue
    environment:
      ASPNETCORE_ENVIRONMENT: Test
    ports:
      - "5002:8080"

  api-green:
    image: ghcr.io/lauresta/lkvitai-mes-warehouse-api:${GREEN_IMAGE_TAG:-v1.2.4}
    container_name: lkvitai-api-green
    environment:
      ASPNETCORE_ENVIRONMENT: Test
    ports:
      - "5003:8080"

  nginx-blue-green:
    image: nginx:1.27
    container_name: lkvitai-nginx-blue-green
    ports:
      - "8088:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - api-blue
      - api-green
