@inherits LayoutComponentBase
@inject IWebHostEnvironment Environment

<MudLayout>
    <MudDrawer Class="sidebar bg-dark text-white"
               Variant="DrawerVariant.Responsive"
               Width="250px"
               Elevation="1"
               Open="true">
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        <MudAppBar Fixed="false" Dense="true" Elevation="0" Class="bg-light border-bottom px-3">
            <MudText Typo="Typo.h6" Class="mb-0">LKvitai.MES Warehouse</MudText>
            <MudSpacer />
            <MudText Typo="Typo.caption" Class="text-muted me-3">@Environment.EnvironmentName</MudText>
            <MudButton Variant="Variant.Outlined" Size="Size.Small" Disabled="true" Color="Color.Default">Login</MudButton>
        </MudAppBar>

        <main class="container-fluid p-4 position-relative">
            <ToastContainer />
            @Body
        </main>
    </MudMainContent>
</MudLayout>
