<div class="pt-3">
    <ul class="nav flex-column p-3">
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="/dashboard" Match="NavLinkMatch.All">
                <i class="bi bi-speedometer2 me-2"></i>Dashboard
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="/available-stock" Match="NavLinkMatch.Prefix">
                <i class="bi bi-box-seam me-2"></i>Available Stock
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="/reservations" Match="NavLinkMatch.Prefix">
                <i class="bi bi-clipboard-check me-2"></i>Reservations
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link text-white" href="/projections" Match="NavLinkMatch.Prefix">
                <i class="bi bi-database-gear me-2"></i>Projections
            </NavLink>
        </li>
    </ul>
</div>
